<footer class=" footer px-5 ">
  <p class="pt-3">Contact:</p>
  <ul class="nav justify-content-center list-unstyled d-flex">
    <li class="ms-3">
      <script type="text/javascript">
        emailE=('tgaffer@' + 'gmail.com')
        document.write('<a href="mailto:' + emailE + '"class="link-dark"><i class="fa-solid fa-envelope"></i></a>')
      </script>
      <NOSCRIPT>
      <em>Email address protected by JavaScript.<BR> Please enable JavaScript to
        contact me.</em>
      </NOSCRIPT></li>
    <li class="ms-3"><a href="https://github.com/tgaffer52" class="link-dark"><i class="fa-brands fa-github"></i></a></li>
    <li class="ms-3"><a href="https://www.linkedin.com/in/tgaffer" class="link-dark"><i class="fa-brands fa-linkedin"></i></a></li>
  </ul>
</footer>
