<div class="container">
  <div class="header text-center my-5">
    <h1>
      Trevor Gaffney
    </h1>
    <h4>Web Developer | UX/UI Designer</h4>
  </div>
  <%= image_tag "avatar.jpg", class: "avatar" %>
  <div class="about-box p-3">
    <h2 class="text-center">About Me</h2>
    <p>Full-Stack Developer with a background in education, visual design, and
      team management. I’m extremely personable and love problem-solving. While
      continuing to hone my skills as a web developer, I offer an arsenal of
      technical, personal, and visual design skills to my next team. I’m
      looking for a full-stack or front-end position with remote/hybrid
      opportunities.</p>
  </div>
</div>
