<div class="container">
  <%# <%= image_tag "avatar.jpg", class: "avatar" %>
  <h2 class="text-center">About Me</h2>
  <div class="about-underline"></div>
  <div class="about-box my-4 p-3">
    <div class="d-flex">
    <%= image_tag "sakura.jpg", class: "m-3 mt-0 rounded", style: "height: 300px;"%>
    <p style="text-align: justify;">
      All of my life, I've had this blend of artisty and practicality inside me. I've always had too many hobbies for my own good, which includes piles of unpublished manuscripts and amateur songs. In university, I gave up my initial dream of being an architect and decided to become a writer. I also fell in love with anime and decided to take Japanese classes for fun. This coalesced into an odd but memorable university experience that led me to studying abroad at Doshisha University in Kyoto and, after graduating, deciding to live in Japan as an English teacher.
      <br>
      <br>
      It was an adequate living while I searched for what to do next. I moved to Yokohama and worked my way to the top of my position as a teacher, managing a team of seven Native English Teachers at my school. Shrugging off textbooks, we always made our teaching materials from scratch, which took a lot of effort and time. But here is I found my next calling.
      </p>
      <div class="vert-border mx-3"></div>
    </div>
    <div class="d-flex">
      <div class="vert-border mx-3"></div>
      <p style="text-align: justify;">I found great pride in trying to make my materials as readable, accessible, and aesthetically pleasing as possible. I realized that doing this for things like websites and apps would be just as fun. I joined and completed Le Wagon's Full Stack Web Developer bootcamp in 6 months with 2 full websites and a slew of programming skills under my belt, ready to join the tech industry.
      <br>
      <br>
      If you're interested in my work, or if you have any questions or comments, I'd love to hear from you! Feel free to click any of the socials down below and send me a message. I can't wait!
      </p>
      <%= image_tag "demo.jpg", class: "m-3 mt-0 rounded", style: "height: 300px;"%>
    </div>
  </div>
</div>
