<div class="container">
  <%# <%= image_tag "avatar.jpg", class: "avatar" %>
  <h2 class="text-center about-header">About Me</h2>
  <div class="about-underline"></div>
  <div class="about-box row my-4 p-3">
    <div class="col-11">
      <%= image_tag "sakura.jpg", class: "mx-3 mb-1 sakura-pic rounded" %>
      <p class="ps-2" style="text-align: justify;">
        All of my life, I've had this blend of artisty and practicality inside
        me. I've always had too many hobbies for my own good, which includes
        piles of unpublished manuscripts and amateur songs. At university, I
        was an English major in the hopes of becoming a writer while taking
        Japanese classes for fun. This odd but memorable university experience
        eventually led me to studying abroad at Doshisha University in Kyoto
        and, after graduating in 2016, deciding to live in Japan as an English
        teacher.
        <br>
        <br>
        It was an adequate living while I searched for what to do next. I moved
        to Yokohama and worked my way to the top of my position as a teacher,
        managing a team of seven Native English Teachers at my school.
        Shrugging off textbooks, we always made our teaching materials from
        scratch, which is where I found my next calling.
      </p>
    </div>
    <div class="col-1">
      <div class="vert-border m-auto"></div>
    </div>
    <div class="col-1">
      <div class="vert-border m-auto"></div>
    </div>
    <div class="col-11">
      <%= image_tag "demo.jpg", class: "m-3 mt-2 demo-pic rounded" %>
      <p class="mt-2" style="text-align: justify;">I found great pride in trying to make my materials as readable,
        accessible, and aesthetically pleasing as possible. I realized that
        doing this for things like websites and apps would be just as fun. I
        joined and completed Le Wagon's Full Stack Web Developer bootcamp in 6
        months. I was happy to pitch my website idea and have it picked. With
        three amazing teammates, I saw my dream website come to life, and I was
        honored to pitch it on our final day.
        <br>
        <br>
        If you're interested in my work, or if you have any questions or
        comments, I'd love to hear from you! Feel free to click any of the
        socials down below and send me a message. I can't wait!
      </p>
    </div>
  </div>
</div>
