<div class="container">
  <div class="logo-container w-100 d-flex justify-content-center">
    <%= image_tag "logo-transparent.gif", class: "animated-logo" %>
  </div>
  <div class="header text-center my-5 fade-in-slow">
    <h1>
      Trevor Gaffney
    </h1>
    <h4>Web Developer | UX/UI Designer</h4>
  </div>
</div>
